!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Help
  %body
%h3 SignUp and LogIn (log out)
=image_tag "newuser.JPG"

%p 	
Click on Signup to create a new account. You will be prompted to enter your first and last name, 
a valid email address and a password. To complete this click on the “Create an account” button. 
To Login that account you need to click login. It will ask for the email address and password 
you have just used to create an account. Lastly, click the “Log in” button to complete the action.
Keep in mind you can Logout at anytime after logging in. This can be done by clicking Log out 
towards the bottom of the page. When you log out you will need to follow the appropriate direction 
to login again.

%h3 Creating a New Agency 
%p 	
Once logged in, you can create a new agency by clicking on New Agencies. With will take you to the 
forms. To complete a form, you will need to enter information into all the available fields and or 
select the correct response. After filling out all the fields on the page you can click the 
“Next button”, towards the bottom to move forward. The forms are broken up so that they are easier 
to navigate. 

%h3 Deleting an Existing Agency
%p 	
You can also delete an existing agency if there was a mistake or if that created agency is no longer 
needed. You can select to delete the acgency from the same page you can create a new one.

