!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Help
  %body

%h3 How to SignUp
%b 1) 
Click on Signup to create a new account.
%br
=image_tag "Signup.PNG"
%br
%br 

%b 2)
You will be prompted to enter your first and last name, 
a valid email address and a password. To complete this click on the “Create an account” button. 
=image_tag "signup2.PNG"
%br
%br 

%b 3)
After a successful signup, you will be redirected to the main page. Keep in mind you can Logout at anytime after logging in. This can be done by clicking Log out 
towards the bottom of the page.
=image_tag "signup3.PNG"
%br
%br 

%h3 Creating a New Agency 
%b 1)
You can create a new agency by clicking on Add New Agency (with steps).
%br
=image_tag "create1.PNG"
%br
%br

%b 2)
This will take you to the forms. To complete a form, you will need to enter information
into all the available fields, and or select the correct response. After filling out all the fields on the page
you can click the “Next button”, towards the bottom to move to the next page forward, or back to go to previous form.
%br
=image_tag "create2.PNG"
%br
%br

%b 3)
If you do not fill out the forms correctly, you will see that they highlight in red and display what needs to be
fixed at the top.
=image_tag "create3.PNG"
%br
=image_tag "create4.PNG"
%br
%br
%b 4)
Once you fill out the forms you will be redirected to the main page, and see the new agency is added to the bottom.

%h3 Deleting an Existing Agency
%b 1)
You can also delete an existing agency if there was a mistake or if that created agency is no longer 
needed. You can select to delete link on the side of the agency.
%br
=image_tag "delete1.PNG"
%br
%br
%b 2)
Once you delete the Agency, a message will come up saying you deleted " " Agency
%br
=image_tag "delete2.PNG"

