%h1 Agencies

%table#forms
    %thead 
    %tr
        %th Agency Name
        %th Completion Date
    %tbody
    -@fb_agencies.each do |agency|
        %tr
            %td= agency.AgencyName
            %td= agency.DateOfVerification