%body
  !!! XML
  #wrapper
    = form_tag options_for_select :method => :post do
      .form-group  
        .row
        = link_to 'Add New Agency', new_form_path
        %br
        = link_to 'View Agencies', forms_path
        %br
        = link_to 'Update Agencies'
        